<form action="/posts" method="post">
  <p>Author Name: <input type="text" name="name" value=""></p>
  <p>Content: <input type="text" name="content" value=""></p>
  <button type="submit" name="submit">submit</button>
</form>
